@charset "utf-8";
/* CSS Document */
*{padding: 0;margin: 0;}
a{text-decoration: none;}
li{list-style: none;}
body,html{width: 100%;height: 100%;}
body{word-break:break-all;word-wrap:break-word;font-family:arial,"microsoft yahei",sans-serif}
body,div,p,h1,h2,h3,h4,p,form,ol,ul,li,dl,dt,dd,th,td{margin:0;padding:0}
em,i{font-style:normal}
ol,ul{list-style-type:none}
img{border:0; vertical-align:top}
table{border-collapse:collapse; border-spacing:0;}
a{color:#333; cursor:pointer; outline:0;text-decoration:none}
a:hover{text-decoration:none;}
a:visited{color:#666}
textarea {resize: none;}
input{outline:0;font-size:14px;font-family:arial,'pingfang sc',stheiti,"microsoft yahei",sans-serif}
.clear{CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 0; HEIGHT: 0px}
.clearfix:after{content: ".";display:block;height:0;clear:both;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.frame-all{-webkit-transition:background 1s ease; transition:background 1s ease; overflow:hidden; position:absolute; top:0; right:0; bottom:0; left:0; min-width:1100px;}
.container{margin:0 auto; position:relative;}
.fn-text{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.bounce-enter-active {
    animation: bounce-in .8s;
  }
.bounce-leave-active {
  animation: bounce-in .8s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
.u1-enter-active {
  animation: ufadeUp1 .8s;
}
.u1-leave-active {
  animation: ubounce-out .8s;
}
@keyframes ufadeUp1 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.u2-enter-active {
  animation: ufadeUp2 1.6s;
}
.u2-leave-active {
  animation: ubounce-out .8s;
}
@keyframes ufadeUp2 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.u3-enter-active {
  animation: ufadeUp3 2.4s;
}
.u3-leave-active {
  animation: ubounce-out .8s;
}
@keyframes ufadeUp3 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  66.66% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes ubounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(0);
  }
}
.list-enter-active {
  transition: all 1s;
}
.list-enter
/* .list-leave-active for below version 2.1.8 */ {
  opacity: 0;
}
.flipInX-enter-active {
  animation: flipInX 1s;
}
.amap-scalecontrol {
  display: none;
}

.amap-logo {
  display: none !important;
}

.ellipsis-text {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-right: 15px;
	box-sizing: border-box;
}
.ellipsis2text {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 字体渐变色 */
.text-wb {
  background-image: -webkit-linear-gradient(bottom, #299ce6, #fff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gb {
  background-image: -webkit-linear-gradient(bottom, #08fef9, #fff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-bg {
  background-image: -webkit-linear-gradient(bottom, #14f0f3, #1aa2d3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-bgreen {
  background-image: -webkit-linear-gradient(bottom, #0dd685, #fff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-byellow {
  color: #feff89;
}
.text-bgrey {
  background-image: -webkit-linear-gradient(bottom, #8b8d93, #cbccd0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* 文字外发光 */
.shadow-wb {
  text-shadow:0 0 0.2em rgba(0,182,255,.38), -0 -0 0.2em rgba(255,255,255,.38);
}
.shadow-w {
  text-shadow:0 0 0.4em rgb(255,255,255);
}
.shadow-g {
  text-shadow:0 0 0.4em rgb(13,214,133);
}
.shadow-b {
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}
/* 文字描边 */
.stroke1 {
  -webkit-text-stroke: 1px #000;
}
.font-yh {
  font-family: "Microsoft YaHei",微软雅黑;
}
/* 倾斜 */
.skew10 {
  transform: skew(0deg,-9deg);
}
/* 旋转 */
.rotate10 {
  transform: rotateX(24deg) rotateY(-5deg) rotateZ(-7deg);
}
.twinkle {
  animation: twinkle 4s linear infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fast-twinkle {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes myFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.haorooms {
  isolation: isolate;
}    
/* fire */
.beacon-fire {
  position: absolute;
  left: 50%;
  width: 200px;
  height: 200px;
  left: 50%;
  top: -103px;
  transform: translateX(-50%) scale(0.7);
  z-index: 600;
}
.fire-content {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 54%;
  top: 27px;
  overflow: hidden;
  border-radius: 100%;
  transform: translateX(-50%);
  z-index: 60;

}
.beacon-fire .fire-base {
  position: absolute;
  left: 54%;
  bottom: -45px;
  transform: translateX(-50%);
  z-index: 50;
}
.fire-content .fire {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fire-content div.bottom {
  position: absolute;
  left: 50px;
  bottom: 0;
  width: 100px;
  height: 30px;
  background: #ff9800;
  border-radius: 30px;
}
.fire-content figure {
  position: absolute;
  margin: 0 0 -15px;
  left: calc(50% - 70px);
  bottom: 0;
  width: 70px;
  height: 70px;
  background: #ff9800;
  border-radius: 100%;
}
.fire-content figure:nth-child(1) {
  animation: firecircle 1.2s 0.14s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 9px;
  margin-bottom: -30px;
}
.fire-content figure:nth-child(2) {
  animation: firecircle 1.2s 0.28s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 53px;
  margin-bottom: -25px;
}
.fire-content figure:nth-child(3) {
  animation: firecircle 1.2s 0.42s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 53px;
  margin-bottom: -36px;
}
.fire-content figure:nth-child(4) {
  animation: firecircle 1.2s 0.56s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 48px;
  margin-bottom: -27px;
}
.fire-content figure:nth-child(5) {
  animation: firecircle 1.2s 0.7s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 63px;
  margin-bottom: -16px;
}
.fire-content figure:nth-child(6) {
  animation: firecircle 1.2s 0.84s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 2px;
  margin-bottom: -35px;
}
.fire-content figure:nth-child(7) {
  animation: firecircle 1.2s 0.98s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 16px;
  margin-bottom: -22px;
}
.fire-content figure:nth-child(8) {
  animation: firecircle 1.2s 1.12s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 56px;
  margin-bottom: -36px;
}
.fire-content figure:nth-child(9) {
  animation: firecircle 1.2s 1.26s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 30px;
  margin-bottom: -37px;
}
.fire-content figure:nth-child(10) {
  animation: firecircle 1.2s 1.4s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 21px;
  margin-bottom: -32px;
}
.fire-content figure:nth-child(11) {
  animation: firecircle 1.2s 1.54s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 36px;
  margin-bottom: -25px;
}
.fire-content figure:nth-child(12) {
  animation: firecircle 1.2s 1.68s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 41px;
  margin-bottom: -32px;
}
.fire-content figure:nth-child(13) {
  animation: firecircle 1.2s 1.82s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 13px;
  margin-bottom: -40px;
}
.fire-content figure:nth-child(14) {
  animation: firecircle 1.2s 1.96s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 60px;
  margin-bottom: -40px;
}
.fire-content figure:nth-child(15) {
  animation: firecircle 1.2s 2.1s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 69px;
  margin-bottom: -34px;
}
.fire-content figure:nth-child(16) {
  animation: firecircle 1.2s 2.24s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 17px;
  margin-bottom: -16px;
}
.fire-content .reverse div {
  position: absolute;
  margin: 0 0 -15px;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 70px;
  background: rgb(12,18,54);
  border-radius: 100%;
}
.fire-content .reverse div:nth-child(1) {
  animation: firereverseleft 1.2s 0.5s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 22px;
  margin-bottom: -22px;
}
.fire-content .reverse div:nth-child(2) {
  animation: firereverseleft 1.2s 1s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 18px;
  margin-bottom: -35px;
}
.fire-content .reverse div:nth-child(3) {
  animation: firereverseleft 1.2s 1.5s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 10px;
  margin-bottom: -29px;
}
.fire-content .reverse div:nth-child(4) {
  animation: firereverseleft 1.2s 2s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 3px;
  margin-bottom: -36px;
}
.fire-content .reverse div:nth-child(5) {
  left: 120px;
  animation: firereverseright 1.2s 0.5s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 3px;
  margin-bottom: -34px;
}
.fire-content .reverse div:nth-child(6) {
  left: 120px;
  animation: firereverseright 1.2s 1s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 2px;
  margin-bottom: -40px;
}
.fire-content .reverse div:nth-child(7) {
  left: 120px;
  animation: firereverseright 1.2s 1.5s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 15px;
  margin-bottom: -37px;
}
.fire-content .reverse div:nth-child(8) {
  left: 120px;
  animation: firereverseright 1.2s 2s cubic-bezier(0.5, 0.07, 0.64, 1) infinite;
  margin-left: 8px;
  margin-bottom: -29px;
}

@keyframes firecircle {
  0% {
    transform: translateY(0) scale(1);
    background: #ff9800;
  }
  100% {
    transform: translateY(-175px) scale(0);
    background: #ffc107;
  }
}
@keyframes firereverseleft {
  0% {
    transform: translateY(0) translateX(0) scale(0.3);
  }
  100% {
    transform: translateY(-175px) translateX(50px) scale(1);
  }
}
@keyframes firereverseright {
  0% {
    transform: translateY(0) translateX(0) scale(0.3);
  }
  100% {
    transform: translateY(-175px) translateX(-50px) scale(1);
  }
}
/* 搜索 */
body .el-autocomplete-suggestion {
  background: #043769;
  border: 1px solid #043769;
}
body .el-autocomplete-suggestion li {
  color: #fff;
}
body .el-autocomplete-suggestion li.highlighted,body .el-autocomplete-suggestion li:hover {
  color: #fff;
  background: #145fce;
}
body .el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #043769;
}
body .el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #043769;
}

/* 下拉 */
body .el-select-dropdown {
  background: #043769;
  border: 1px solid #043769;
}
body .el-select-dropdown__item.selected {
  color: #fff;
  background: #145fce;
}
body .el-select-dropdown__item.hover, body .el-select-dropdown__item:hover {
  color: #fff;
  background: #145fce;
}
body .el-select-dropdown__item {
  color: #fff;
}